.Employeerun-machine{
    height:5px;
    margin-top: 15px;
    margin-left:0px;
    
    color:rgb(21, 20, 20);
   
    width:20px;
    
}
.Employeecustom-dropdown-menu {
    margin-left: 20px; /* Adjust the margin as needed */
  }


