
.Strawberry {
    background-color: black;
   height:70px;
   
}



.Strawberry .image1{
    float:left;
    /*border-radius: 50%;*/
    width:60px;
    padding-top:30px;
    padding-left:150px;
    height:30px;

}

.Strawberry .menu{
    margin-left:250px;
    padding-top:30px;
}
.Strawberry ul{
    /*float:left;*/
    display:flex;
   /*justify-content: center;*/
   /* align-items: center;*/
}
.Strawberry ul li{
    list-style: none;
    font-size:18px;
    margin-left:80px;
    
    
}
.Strawberry ul li a{
    text-decoration: none;
    color:white;
}
.Strawberry ul li a:hover{
    color:orange ;
}


  

  
.Custardapple .afterlogin{
  padding-left: 80px;
  margin-top: -11px;
}

.Employeecustom-dropdown {
position: relative;
display: inline-block;
}

.Employeecustom-dropdown .avatar {
display: flex;
align-items: center;
cursor: pointer;
}

/* Custom Dropdown Toggle Button */
.Employeecustom-dropdown-toggle {
/*background-color: #95db34;*/
color: #fff;
border: none;
padding: 10px 20px;
border-radius: 5px;
cursor: pointer;
}

/* Custom Dropdown Menu */
.Employeecustom-dropdown-menu {
display: none;
position: absolute;
top: 100%;
left: -30px;
background-color: #f0f0f0;
color: #333;
border: 1px solid #f51e1e;
box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
border-radius: 5px;
}

.Employeecustom-dropdown.show .Employeecustom-dropdown-menu {
display: block;
}

/* Custom Dropdown Item */
.Employeecustom-dropdown-item {
color: rgb(15, 15, 14);
padding: 10px 20px;
background-color: rgba(255, 255, 255, 0.8);


}
.Employeecustom-dropdown-item:last-child {
border-bottom: none; /* Remove the border for the last item */
}

.Employeecustom-dropdown-item:hover {
background-color: #ef1e1e;
color:pink;
}

/* Highlighted Dropdown Item */
.Employeecustom-dropdown-item-highlight {
background-color: #FF5733;
color: #fff;
}

/* Container for Avatar and Name */

.Employeecustom-dropdown-toggle .span{
    background-color: rgb(245, 250, 250);
    color:purple;
    
   margin-left:2px;
   
}



  

.E .image1{
  float:left;
  border-radius: 50%;
  width:60px;
  padding-top:30px;
  padding-left:150px;
  height:30px;

}

.E .menu{
  margin-left:250px;
  padding-top:30px;
}
.E ul{
 
  display:flex;
 
}
.E ul li{
  list-style: none;
  font-size:18px;
  margin-left:80px;
  
  
}
.E ul li a{
  text-decoration: none;
  color:white;
}
.E ul li a:hover{
  color:orange ;
}



.contact{
  color:gold;
  padding-top:100px;
}
.con{
  color:rgb(162, 226, 43);
  font-weight: bold;
  font-size: large;
}