.run-machine{
    height:5px;
    margin-top: 15px;
    margin-left:0px;
    
    color:rgb(252, 251, 251);
   
    width:20px;
    
}
.custom-dropdown-menu {
    margin-left: 20px; /* Adjust the margin as needed */
  }


